
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="190"
    alt="Morpho Logo"
    src="https://static.wixstatic.com/media/c2f167_922962b29604461a8653eac4b592022f~mv2.jpg/v1/fill/w_420,h_116,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/LOGO%20WEB-07.jpg"
  />
    
</div>

<div class="content" role="main">
  
  <h2>Sistema de facturas</h2>

  <div class="card-container">
    <form [formGroup] = "demoForm">
      <h5>Nombre: </h5>
      <input class="form-control"  formControlName= "usuario" type="text" id="validationCustom05" readonly required>

      <h5>Factura: </h5>
      <input class="form-control"  formControlName= "numero_factura" type="text" id="validationCustom05" readonly required>

      <h5>Fecha: </h5>
      <input class="form-control"  formControlName= "fecha" type="text" id="validationCustom05" readonly required>

      <h5>Total: </h5>
      <input class="form-control"  formControlName= "total" type="text" id="validationCustom05" readonly required>


      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#facturaModal">Nueva Factura</button>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#productoModal" (click)=" cargarProductos()">Nuevo Producto</button>
     

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detalle of listDetalles">
            <th>{{detalle.codigo_articulo}}</th>
            <td>{{detalle.articulo}}</td>
            <td>{{detalle.cantidad}}</td>
            <td>{{detalle.precio}}</td>
            <td>{{detalle.total_linea}}</td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>



  

  <!-- Footer -->
  <footer>
    
   
</footer>

</div>


<!-- Modal Factura-->
 <div class="modal" id="facturaModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">Crear factura</h5>
          <button type="button" id="close" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup] = "facturaForm">
            <label class="form-check-label">
              <strong>Número </strong>
            </label>
            <input class="form-control"  formControlName= "numero_factura" type="text" id="validationCustom05">
            <label class="form-check-label">
              <strong>Fecha </strong>
            </label>
            <input class="form-control"  formControlName= "fecha" type="date" id="validationCustom05">

          </form>
        </div>
        <div class="modal-footer">
          <button id="buttonCreate" type="button" class="btn btn-primary" (click)="crearFactura()" data-bs-dismiss="modal">Crear</button>
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
</div>

<!-- Modal Producto -->
<div class="modal fade" id="productoModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Agregar artículo</h5>
        <button type="button" id="close" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup] = "productoForm">
          <label class="form-check-label">
            <strong>Producto</strong>
          </label>
          <select class="form-select"  formControlName= "articulo">
            <!-- <option *ngFor = "let producto of listProductos; let i = index" value="{{producto.codigo_articulo}}">{{producto.descripcion}}</option> -->
            <option value="10197">CHOCOLATE CHOCOBRITT LECHE DOY PACK 170 G</option>
          </select>

          <label class="form-check-label">
            <strong>Cantidad</strong>
          </label>
          <input class="form-control"  formControlName= "cantidad" type="number" id="validationCustom05">

        </form>

      </div>
      <div class="modal-footer">
        <button id="buttonCreate" type="button" class="btn btn-primary" (click)="agregaDetalle()" data-bs-dismiss="modal">Agregar</button>
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>